defmodule Year<%= year %>.Day<%= day %> do
  @doc ~S"""
  iex> AdventOfCode.example(<%= year %>, <%= day %>)
  ...> |> Year<%= year %>.Day<%= day %>.p1
  0
  """
  def p1(lines) do
    0
  end

  @doc ~S"""
  iex> AdventOfCode.example(<%= year %>, <%= day %>)
  ...> |> Year<%= year %>.Day<%= day %>.p2
  0
  """
  def p2(lines) do
    0
  end
end